@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.testimonial {
    width: 250px;
    text-align: center;
    position: relative;
    z-index: -999;
}

.quote-mark {
    font-family: Karla;
    font-size: 72pt;

    text-align: left;
    margin: 0;
    padding: 0;
}

.testimonial-quote {
    font-family: Karla;
    font-size: 16pt;
}

.testimonial-wave {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -899;
}

.testimonial-img {
    width: 100px;
    border-radius: 50%;
}

.testimonial-name {
    font-family: Karla;
    font-size: 16pt;
    font-weight: 700;
}

.testimonial-role {
    font-family: Karla;
    font-size: 16pt;
    font-weight: 300;
}