@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.testimonial-container {
    width: 50%; 
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

.testimonial {
    width: 250px;
    height: 350px;
    text-align: center;
    position: relative;

    margin: 20px 10px;
}

.testimonial-bg {
    width: 250px;
    height: 350px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
}

.testimonial-quote {
    font-family: Karla;
    font-size: 16pt;
    padding-top: 50px;
    margin-bottom: 0px;
}

.testimonial-wave {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -899;
}

.testimonial-img {
    position: absolute;
    top: 45%;
    left: 75px;
    width: 100px;
    border-radius: 50%;
}

.testimonial-name {
    margin-top: 190px;
    font-family: Karla;
    font-size: 16pt;
    font-weight: 700;
}

.testimonial-role {
    font-family: Karla;
    font-size: 16pt;
    font-weight: 300;
}

.faqs-container {
    margin: 50px 20px;
}