body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landing-header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}


.landing-stats-container {
  /* Add shadows to create the "card" effect */
 background-color:blue;
}

.Landing-stat-indiv {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: brown;
}

.landing-projSummary {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.landing-projSummary-container {
  background-color: aquamarine;
}

.second-header {
  text-align: center;
  text-shadow: black;
}

.landing-collab-container {

}

.landing-collab {
  text-align: center;
  background-color:plum;
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;

}
