h4 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 36px;
}


h5 {
    font-family: Poppins;
    font-weight: 400;
    font-size: 24px;
}

p {
    font-family: Karla;
    font-weight: 400;
    font-size: 24px;
}

.text_container {
    margin: 90px;
}

.icon_text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}

.icons {
    width: 80px;
    height: 80px;
    padding: 15px;
}

.icon_container{
    display:flex;
    justify-content:space-evenly;
}

.icon_box{
    display: grid;
    justify-items: center;
    
}

.coreValues_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.coreValues_box {
    width: 500px;
    height: 160px;
    margin: 30px auto;
    border: 3px solid;
    padding: 30px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.coreValue p{
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
  }

